In [2]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load Data
data = pd.read_csv('UCLA_dataset.csv')

In [4]:
data

     user_id        date    arm  click
0          1  2024-06-30  arm_3      1
1          2  2024-06-30  arm_3      0
2          3  2024-06-30  arm_2      0
3          4  2024-06-30  arm_2      1
4          5  2024-06-30  arm_2      0
..       ...         ...    ...    ...
298      299  2024-06-30  arm_3      0
299      300  2024-06-30  arm_1      1
300      301  2024-06-30  arm_3      0
301      302  2024-06-30  arm_1      0
302      303  2024-06-30  arm_2      0

[303 rows x 4 columns]

In [5]:
data.arm.value_counts()

arm
arm_3    121
arm_2    101
arm_1     81
Name: count, dtype: int64